*
{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*::selection
{
    color: white;
    background: #7f8fa6;
}

header
{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
}
nav .logo
{
    font-size: 30px;
    font-weight: bold;
    color: #7f8fa6;
}
nav .menu a
{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
}
header .circle
{
    height: 400px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    position: absolute;
    top: 20%;
    right: 10%;
    z-index: -1;
}
header .container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header .container .left
{
    flex-basis: 60%;
    max-width: 450px;
}
header .container .right
{
    flex-basis: 40%;
    text-align: right;
}
header .container .right img
{
    width: 70%;
}
.left h1
{
    font-size: 45px;
}
.left span
{
    color: #7f8fa6;
}
.p-header
{
    margin-top: 10px;
}
.btn
{
    margin-top: 30px;
}
.btn input
{
    padding: 10px;
    width: 75%;
    outline: none;
    border-radius: 10px;
    border: 1px solid gray;
    color: #7f8fa6;
    font-weight: 600;
}
.btn button
{
    background: #7f8fa6;
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
}
.left .counter
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
#welcome
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px ;
    z-index: -1;
}
#featured
{
    padding: 100px 50px;
}
.featured-row
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.featured-left-col
{
    flex-basis: 50%;
}
.featured-left-col img
{
    width: 80%;
}
.featured-right-col
{
    flex-basis: 50%;
    max-width: 500px;
}
.featured-right-col h1
{
    font-size: 40px;
    margin-bottom: 20px;
}
.featured-right-col p
{
    margin: 20px 0;
    color: gray;
}
.c-btn
{
    background: none;
    padding: 10px;
    border: 1px solid black;
    outline: none;
    color: black;
}
#featured2
{
    padding: 100px 50px;
}
.featured2-row
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.featured2-left-col
{
    flex-basis: 50%;
    max-width: 500px;
}
.featured2-right-col img
{
    width: 100%;
}
.featured2-right-col
{
    flex-basis: 50%;
}
.featured2-left-col h1
{
    font-size: 40px;
    margin-bottom: 20px;
}
.featured2-left-col p
{
    margin: 20px 0;
    color: gray;
}
#selling
{
    padding: 50px;
}
#selling h1
{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.selling-row
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.selling-box
{
    flex-basis: 30%;
    text-align: center;
    margin-top: 20px;
   
}
.selling-box div 
{
    background: rgba(0, 0, 0, 0.05);
    padding : 10px;
    border-radius: 10px;
    outline: .2px solid gray;
    outline-offset: -6px;
}
.selling-box img
{
    width: 100%;
    height: 200px;
}
.selling-box h3
{
    margin: 10px 0;
}
#offer
{
    padding: 50px;
}
.offer-row
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.offer-left-col
{
    flex-basis: 50%;
    max-width: 500px;
}
.offer-left-col h1
{
    font-size: 40px;
    margin-bottom: 15px;
}
.offer-left-col h1 span
{
    color: #7f8fa6;
}
.offer-left-col p
{
    color: gray;
    font-size: 15px;
}
.offer-left-col button
{
    margin-top: 15px;
}
.offer-right-col
{
    flex-basis: 50%;
}
.offer-right-col img
{
    width: 100%;
}
#blog
{
    padding: 50px;
}
#blog h1
{
    text-align: center;
    font-size: 35px;
}
#blog .box-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
#blog .box 
{
    flex-basis: 30%;
    width: 100px;
    object-fit: fill;
    overflow: hidden;
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 10px;
}
.box .content
{
    padding: 10px;
}
.box .content h3
{
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
}
.box .content p
{
    font-size: 14px;
    color: gray;
}
#blog .box .content button 
{
    margin: 10px 0;
}
#blog .box img
{
    width: 100%;
    height: 200px;
}
#footer
{
    padding: 20px 100px;
}
#footer .search-box
{
    text-align: center;
}
#footer input
{
    background: transparent;
    outline: none;
    width: 40%;
   border: none;
   background: #eee;
   height: 40px;
   padding: 10px;
   border-radius: 5px;
}
#footer button
{
    background-color: #7f8fa6;
    padding: 10px 15px;
    outline: none;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
#footer .box-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
} 
#footer .box-container .box
{
    flex-basis: 30%;

}
#footer .box-container .box h3
{
    padding-bottom: 10px;
}
#footer .box-container .box p,#footer .box-container .box a
{
    padding-bottom: 10px;
    color: gray;
}
#footer .box-container .box a
{
    text-decoration: none;
}
#footer .copyright h3
{
    text-align: center;
    font-size: 20px;
}


@media (max-width:768px)
{
    .menu
    {
        display: none;
    }
    .left
    {
        flex-basis: 100%;
        margin: 50px 100px;
    }
    .right
    {
        display: none;
    }
    #welcome
    {
        width: 120px;
        bottom: -100px;
    }
    .btn input 
    {
        width: 50%;
    }
}